<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}
    {% endblock %}

    {% block style_custom %}

    {% endblock %}
    <style>

    </style>
</head>

<body class="">

    <header>
        <div class="container">

        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top">
            <a class="navbar-brand" href="{{path('index')}}">Logo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item {% if current_menu is defined and current_menu == 'articles' %}active{% endif %}">
                        <a class="nav-link" href="{{path('article.index', {"page":1})}}">Articles <span class="sr-only">(current)</span></a>
                    </li>
                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                      <form class="form-inline mt-2 mt-md-0" method="post" action="{{ path('article.index') }}">
                          <input class="form-control mr-sm-2" type="text" name="title" placeholder="Search" aria-label="Search">
                          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
                      </form>
                    </li>

                    {% if app.user %}

                    <li class="nav-item btnright {% if current_menu is defined and current_menu == 'admin' %}active{% endif %}">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{{ path('admin.articles.index') }}"> Gestion des articles </a>
                                <a class="dropdown-item" href="{{ path('admin.categorie.index') }}"> Gestion des catégories </a>
                            </div>
                        </div>
                    </li>

                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link btnleft{% if current_menu is defined and current_menu == 'login' %}active{% endif %}" href="{{ path('app_login') }}">Se connecter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  btnright {% if current_menu is defined and current_menu == 'register' %}active{% endif %}  " href="{{ path('app_register') }}">S'inscrire</a>
                    </li>
                    {%  endif  %}

                    <li class="nav-item --btn-left">
                        <form class="form-inline mt-2 mt-md-0" method="post" action="{{ path('article.index') }}">
                            <input class="form-control mr-sm-2" type="text" name="title" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
                        </form>
                    </li>
                    {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link btnleft{% if current_menu is defined and current_menu == 'logout' %}active{% endif %}" href="{{ path('app_logout') }}">Se déconnecter</a>
                    </li>
                    {% endif %}

                </ul>

            </div>
        </nav>

        </div>
    </header>
    <!-- Begin page content -->
    <main role="main" class="flex-shrink-0 " style="padding-top: 100px">
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </main>


    <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('js/popper.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset("js/lazysizes.min.js") }}" ></script>
    <script type="text/javascript" src="{{ asset("build/app.js") }}" ></script>
    <script type="text/javascript" src="{{ asset("js/slick.min.js") }}" async=""></script>
    {% block javascripts %}


    {% endblock %}

    <script>
        $(window).load(function() {
            $('.post-module').hover(function() {
                $(this).find('.description').stop().animate({
                    height: "toggle",
                    opacity: "toggle"
                }, 300);
            });
        });
    </script>

</body>

</html>
