{% block style_custom %}
    <style>

    </style>
{% endblock %}

<section class="comments">
{% for comment in comments  %}

    <article class="comments__comment">
        <a class="comment__img" href="#non">
            <img src="https://api.adorable.io/avatars/50/{{ comment.user.username }}@adorable.io.png" alt="" width="50" height="50">
        </a>
        <div class="comment__body">
            {% set isComment = true %}
            {{ msalsas_voting_widget.shakeIt(comment.id,isComment ) }}
            {% if comment.user == app.user %}
                <ul class="comment__actions">
                    <li class="comment__edit"><a id="{{ comment.id }}" href="#" onclick="edit(event)" class="btn btn-primary btn-sm"><i class="fa fa-cog"></i></a></li>
                    <li class="comment__delete"><a  href="{{ path('delete.comment',{'comment' : comment.id}) }}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a></li>
                </ul>
            {% endif %}
            <div class="comment__text">
                <p>{{ comment.textComment}}</p>
            </div>
            <p class="comment__attribution">de <a href="#non">{{ comment.user.username }}</a>, {{ comment.createdAt| ago }}</p>
        </div>

    </article>
{% endfor %}
</section>


{% if app.user %}
    {{ form_start(formComment) }}
    {{ form_row(formComment.textComment) }}
    {{ form_row(formComment.submit) }}
    {{ form_end(formComment) }}
{% endif %}


 {% block javascripts %}
     <script>
         function edit(e){

             e.preventDefault();
             var btn = e.currentTarget;

             //console.log(btn.attributes[0].value);

             btn.offsetParent.nextSibling.nextSibling.innerHTML = "<form action='/comment/edit/"+ btn.attributes[0].value +"' method='post'><input class='edit_input' type='text' value='" + e.target.offsetParent.nextSibling.nextSibling.innerText + "' /></form>";

             btn.style.display="none";
         }
     </script>
 {% endblock %}
