{% extends 'base.html.twig' %}

{% block title %}
    Voir un bien!
{% endblock %}

{% block style_custom %}

    <style>

    </style>
{% endblock %}
{% block body %}
    {% import "@msalsas_voting/msalsas_voting_widget.html.twig" as msalsas_voting_widget %}
    {% import "@msalsas_voting/msalsas_voting_widget_custom.html.twig" as msalsas_voting_widget_custom %}
    {{ msalsas_voting_widget.shakeItCSS() }}
    {{ msalsas_voting_widget.shakeItJS() }}
    {{ msalsas_voting_widget.shakeItModal() }}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="row mt-5 article">
        <div class="col-md-12">

            <img class="d-block w-100 lazyload  article__image masked" src="{{ asset("img/lowres.png") }}" data-src={{ article.image }} alt="AlternateText" height="auto"/>



            <svg>
                <!-- THE mask -->
                <mask id="mask" maskContentUnits="objectBoundingBox">
                    <!-- using an img, but this img is black/transparent so we filter it to make it white -->
                    <image xlink:href="http://iamvdo.me/conf/2012/kiwiparty/img/masque2.png" width="1" height="1" preserveAspectRatio="none" filter="url(#filter)"/>
                </mask>

                <!-- the filter to make the image white -->
                <filter id="filter">
                    <feFlood flood-color="white" />
                    <feComposite in2="SourceAlpha" operator="in" />
                </filter>
            </svg>

            <h1 class="article__titre">{{ article.title }}</h1>
                    <div class="article__cadre">
                        <div class="article__metaDroite">
                          <div class="article__metaDroite__info">
                            <span class="article__metaDroite__createdAt">Écrit le : <strong>{{ article.createdAt | date('d/m/Y', timezone='Europe/Paris') }}</strong></span>
                            <span class="article__metaDroite__lectureTime" >Temps de lecture : <strong>10min</strong></span>
                          </div>
                            <span class="article__metaDroite__voting">
                                {{ msalsas_voting_widget.shakeIt(article.id) }}
                                </span>
                            <div class="article__metaHaut__droite">
                                <h4 class="article__metaHaut__lectureTime" >Temps de lecture : <strong>10min</strong></h4>

                            </div>

                        </div>
                        <hr />


                        <span class="article__text">{{ article.text | raw }}</span>
                        <div class="article__metaBas">
                        <span class="article__metaBas__author">
                        {% if  article.author.username is defined %}
                            <span> Écrit par : <strong>{{ article.author.username }}</strong></span>
                        {% endif %}
                        </span>
                            <span class="article__metaBas__createdAt">{{ article.createdAt | date('d/m/Y', timezone='Europe/Paris') }}</span>
                            {#{{ msalsas_voting_widget.bottomBar( article.id) }}#}
                        </div>
                        <ul class="article__ulCategories">

                            {% for categorie in article.categorie %}
                                <li class="badge badge-pill badge-secondary ">
                                    <span class=""> {{ categorie.name }} </span>
                                </li>
                            {% endfor %}


                        </ul>


                    </div>

            <a href="{{ path('article.index') }}" class="article__buttonBackToArticle">
                <div class="button learn-more">
                    <div class="circle">
                        <span class="icon arrow"></span>
                    </div>
                    <p class="button-text">Retournez aux articles</p>
                </div>
            </a>
        </div>

    </div>




    <section class="comments">
        {% if app.user %}
            {{ form_start(formComment,{'attr': {'class': 'commentForm'}}) }}
            {{ form_row(formComment.textComment,{'attr': {'class': 'commentForm__textarea'}, 'label' : 'Ecrire un commentaire'}) }}
            {{ form_row(formComment.submit,{'attr': {'class': 'commentForm__submit'},'label':'Envoyer'}) }}
            {{ form_end(formComment) }}
        {% else %}
            <p><button class="comments__notConnected"><a href="{{ path('app_login') }}">Connecter vous pour commenter</a></button></p>
        {% endif %}
        {% for comment in comments  %}

            <article class="comment" id="commentId-{{ comment.id }}">
                <a class="comment__img" href="#non">
                    <img src="https://api.adorable.io/avatars/50/{{ comment.user.username }}@adorable.io.png" alt="" width="50" height="50">
                </a>
                <div class="comment__body">



                    <div class="comment__header">
                        {% set isComment = true %}
                        {{ msalsas_voting_widget_custom.shakeIt(comment.id,isComment ) }}
                        <a href="#non" class="comment__author">{{ comment.user.username }}</a>
                        <span class="comment__createdat">{{ comment.createdAt| ago }}</span>
                        {% if comment.user == app.user %}
                            <ul class="comment__actions">
                                <li class="comment__edit"><a id="{{ comment.id }}" href="#" onclick="edit(event)" class="btn btn-primary btn-sm"><i class="fa fa-cog"></i></a></li>
                                <li class="comment__edit--validate"><a id="{{ comment.id }}" href="#" onclick="submitEditComment(event)" class="btn btn-primary btn-sm"><i class="fas fa-check"></i></a></li>
                                <li class="comment__delete"><a  href="{{ path('delete.comment',{'comment' : comment.id}) }}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a></li>
                            </ul>
                        {% endif %}
                    </div>
                    <div class="comment__text">
                        <p>{{ comment.textComment}}</p>
                    </div>

                </div>

            </article>
        {% endfor %}
    </section>







{% endblock %}


  {% block javascripts %}
      <script>


          likes = document.getElementsByClassName('c-btn');
          for (var i = 0; i < likes.length; i++) {
              likes[i].addEventListener('click', function(e){



                  let likeButton =e.currentTarget;

                  let sparks = e.srcElement.querySelectorAll('.c-spark')

                  if(likeButton.classList.contains('c-btn--marked')){
                      //console.log('marked');

                  }else{
                      likeButton.classList.add('c-btn--marked');
                      for (let i = 0; i < sparks.length; i++) {
                          sparks[i].classList.add('c-spark--animation');
                      }
                  }

              })
          }

          function edit(e){

              e.preventDefault();
              let btnEdit = e.currentTarget;
              let btnSubmit= e.currentTarget.parentElement.nextElementSibling.firstChild;
              let commentElem = document.getElementById("commentId-"+btnEdit.attributes[0].value).childNodes[3].childNodes[3];
              //console.log(btnEdit);


              commentElem.innerHTML = "<form id='editFormCommentId-"+btnEdit.attributes[0].value+"' action='/comment/edit/"+ btnEdit.attributes[0].value +"' method='post'><textarea name='comment[textComment]' class='edit_input' />"+ commentElem.innerText + "</textarea></form>";

              btnSubmit.style.display="block";
              btnEdit.style.display="none";
          }
      function submitEditComment(e){
          e.preventDefault();



          let btnSubmit = e.currentTarget;
          let btnEdit= e.currentTarget.parentElement.previousElementSibling.firstChild;
          let commentElem = document.getElementById("commentId-"+btnEdit.attributes[0].value).childNodes[3].childNodes[3].firstChild;
         // document.getElementById("editFormCommentId-"+btnEdit.attributes[0].value).submit();
          //Form submision
          let form = document.getElementById("editFormCommentId-"+btnEdit.attributes[0].value);
          //console.log( document.getElementById("editFormCommentId-"+btnEdit.attributes[0].value).innerText);
          console.log( form.firstChild.value);
          $.ajax({
              type: 'POST',
              url: form.attributes[1].value,
              data: $('form').serialize(),
              success: function(response) {
                 // console.log(response)
              },
          });
          commentElem.innerHTML ="<p>"+form.firstChild.value+"</p>"
          btnSubmit.style.display="none";
          btnEdit.style.display="block";
      }

      </script>
  {% endblock %}
