{% extends 'base.html.twig' %}

{% block title %}
    Voir un bien!
{% endblock %}

{% block style_custom %}

    <style>
        .profil {
            background: #f9f9f9;
        }

        .profil .ul-caracteristiques li {
            width: 25%;
        }

        .div-cadre-orange {
            background: #fff;
            border-radius: 10px;
            border: 1px solid rgba(0, 0, 0, 0.125);
            overflow: hidden;
            float: left;
            width: 100%;
            margin: 15px 0px;
        }

        .cadre {
            float: left;
            width: 100%;
            position: relative;
            padding: 25px 30px 30px;
        }

        .margin-top--22 {
            margin-top: -22px;
        }

        .div-cadre-orange h4 {
            color: #FF9800;
        }

        .ul-caracteristiques img {
            width: 20px;
            padding-right: 5px;
        }

        .ul-caracteristiques {
            list-style: none;
            padding: 0;
            font-size: 16px;
        }

        .ul-caracteristiques li {
            padding: 6px 0;
            font-size: 15px;
            display: table;
            height: 100%;
            line-height: 21px;
            float: left;
            width: 50%;
            margin-bottom: 5px;
        }

        .label-custom {
            position: absolute;
            font-size: 0.8em;
            top: 8px;
        }

        .label-custom.label-price {
            top: 2px;
            left: 30%
        }

        .ul-caracteristiques li {
            position: relative;
            display: flex !important;
            justify-content: center;

        }



         .comment {
             overflow: hidden;
             padding: 0 0 1em;
             border-bottom: 1px solid #ddd;
             margin: 0 0 1em;
             *zoom: 1;
         }

        .comment-img {
            float: left;
            margin-right: 33px;
            border-radius: 5px;
            overflow: hidden;
        }

        .comment-img img {
            display: block;
        }

        .comment-body {
            overflow: hidden;
        }

        .comment .text {
            padding: 10px;
            border: 1px solid #e5e5e5;
            border-radius: 5px;
            background: #fff;
        }

        .comment .text p:last-child {
            margin: 0;
        }

        .comment .attribution {
            margin: 0.5em 0 0;
            font-size: 14px;
            color: #666;
        }

        /* Decoration */

        .comments,
        .comment {
            position: relative;
        }

        .comment:hover {
            border-color: orange;
        }
        .comment-actions{
            display:flex;
            position:absolute;
            top:0;
            right:0;

        }
        .comment-actions li{
            list-style:none;
        }
        .comment .text:before {
            top: 18px;
            left: 78px;
            width: 9px;
            height: 9px;
            border-width: 0 0 1px 1px;
            border-style: solid;
            border-color: #e5e5e5;
            background: #fff;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
        }
        .edit_input{

            border-top: 0;
            border-right: 0;
            border-left: 0;
            width: 100%;
        }
        .edit_input:focus{
            border-bottom-color: orange;
        }



    </style>
{% endblock %}
{% block body %}
    {% import "@msalsas_voting/msalsas_voting_widget.html.twig" as msalsas_voting_widget %}
    {{ msalsas_voting_widget.shakeItCSS() }}
    {{ msalsas_voting_widget.shakeItJS() }}
    {{ msalsas_voting_widget.shakeItModal() }}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-10">
            <div class="slider">

                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div style="    border-radius: 0.25rem;" class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" style="height: 290px" src="{{ article.image }}"
                                 alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" style="height: 290px" src="{{ article.image }}"
                                 alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" style="height: 290px" src="{{ article.image }}"
                                 alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <div class="div-cadre-orange">
                <div class="cadre">
                    <div class="cadre margin-top--22">
                        <h1>{{ article.title }}</h1>
                        <h4 class="pb-3" style="float: right;padding: 10px;
 font-size: 1em;">Temps de lecture : <strong>10min</strong></h4>
                        {{ msalsas_voting_widget.shakeIt(article.id) }}

                        <p>{{ article.text | raw }}</p>

                    </div>
                    {{ msalsas_voting_widget.bottomBar( article.id) }}
                </div>
            </div>
        </div>




        <div class="col-md-2">
            <div class="div-cadre-orange">
                <div class="cadre">
                    <h4 class="pb-3">Catégorie</h4>
                    <ul class="ul-caracteristiques ">

                        <li style="width: 100%">
                            <div class="badge badge-primary d-inline-flex align-items-center d-flex justify-content-around"
                                 style="padding: 10px;min-width: 100%;">
                                <i class="fas fa-thermometer-half mr-md-3 mr-sm-1" style="font-size: 2.5em"></i>
                                <span class="vertical-align-mid"> {{ article.categorie.name }} </span>
                            </div>

                        </li>
                        <li style="width: 100%">{% if  article.author.username is defined %}
                                {{ article.author.username }}
                            {% endif %}</li>
                        <li>{{ article.createdAt | date('d/m/Y H:i', timezone='Europe/Paris') }}</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>



    <section class="comments">
        {% for comment in comments  %}


            <article class="comment">
                <a class="comment-img" href="#non">
                    <img src="https://api.adorable.io/avatars/50/{{ comment.user.username }}@adorable.io.png" alt="" width="50" height="50">
                </a>
                <div class="comment-body">
                    {% set isComment = true %}
                    {{ msalsas_voting_widget.shakeIt(comment.id,isComment ) }}
                    {% if comment.user == app.user %}
                        <ul class="comment-actions">
                            <li class="edit"><a id="{{ comment.id }}" href="#" onclick="edit(event)" class="btn btn-primary btn-sm"><i class="fa fa-cog"></i></a></li>
                            <li class="delete"><a  href="{{ path('delete.comment',{'comment' : comment.id}) }}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a></li>
                        </ul>
                    {% endif %}
                    <div class="text">
                        <p>{{ comment.textComment}}</p>
                    </div>
                    <p class="attribution">de <a href="#non">{{ comment.user.username }}</a>, {{ comment.createdAt| ago }}</p>
                </div>

            </article>
        {% endfor %}
    </section>


    {% if app.user %}
        {{ form_start(formComment) }}
        {{ form_row(formComment.textComment) }}
        {{ form_row(formComment.submit) }}
        {{ form_end(formComment) }}
    {% endif %}





{% endblock %}


  {% block javascripts %}
      <script>
          function edit(e){

              e.preventDefault();
              var btn = e.currentTarget;

              //console.log(btn.attributes[0].value);

              btn.offsetParent.nextSibling.nextSibling.innerHTML = "<form action='/comment/edit/"+ btn.attributes[0].value +"' method='post'><input class='edit_input' type='text' value='" + e.target.offsetParent.nextSibling.nextSibling.innerText + "' /></form>";

              btn.style.display="none";
          }
      </script>
  {% endblock %}
